extends ../_layouts/default

block vars
  -title        = 'Equally High'
  -description  = ''
  -keywords     = ''
  -pageID       = 'page'
  -path         = '..'
block container

  +keyvisual('Equally High')

  // ./ Section
  section.section-parts
    .wrapper
      .section-header
        +heading_primary('Equally High')
      .section-content
        .row.four-column
          .col
            .equal-height
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
          .col
            .equal-height
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
          .col
            .equal-height
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
          .col
            .equal-height
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
        .row.four-column
          .col
            .equal-height
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
          .col
            .equal-height
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum, cum doloremque id possimus perspiciatis, nulla fugit pariatur eaque at quibusdam. Distinctio ut unde inventore, dolores delectus iste facere aperiam!
