extends ../_layouts/default

block vars
  -title        = 'Grid System'
  -description  = ''
  -keywords     = ''
  -pageID       = 'grid'
  -path         = '..'
block container

  +keyvisual('Grid System')

  // ./ Section
  section.section-parts
    .wrapper
      .section-header
        +heading_primary('Gird wrapper')
      .section-content
        h3.heading-secondary Grid Auto
        .layout-row
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
        .layout-row
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
        .layout-row
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
        .layout-row
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
        .layout-row
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
        h3.heading-secondary Grid 2 Colum
        .layout-row.two-column
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
        h3.heading-secondary Grid 3 Colum
        .layout-row.three-column
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
        h3.heading-secondary Grid 4 Colum
        .layout-row.four-column
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
        h3.heading-secondary Grid 5 Colum
        .layout-row.five-column
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.テキストテキストテキストテキストテキスト
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
          .col
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos ad voluptatibus at! Quibusdam, error adipisci. Itaque sed fuga eaque nesciunt quas magni. Veritatis quisquam quae quaerat! Tenetur, aliquam amet.
