extends ../_layouts/default

block vars
  -title        = 'Slick'
  -description  = ''
  -keywords     = ''
  -pageID       = 'slick'
  -path         = '..'
block container

  +keyvisual('Slick')

  // ./ Section
  section.section-slick
    .wrapper
      .section-header
        h2.heading-primary Slick Sample
      .section-content
        .slick.js-slick
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")

  // ./ Section
  section.section-slick
    .wrapper
      .section-header
        h2.heading-primary Slick Sample
      .section-content
        .slick.js-slick-counter
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")

  // ./ Section
  section.section-slick
    .wrapper
      .section-header
        h2.heading-primary Slick Sample
      .section-content
        .slick.is-visible.js-slick-01
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
          .slick
            img(src="http://placehold.jp/1200x500.png", alt="IMG")
