extends _layouts/default

block vars
  -title        = 'Under'
  -description  = ''
  -keywords     = ''
  -pageID       = 'under'
  -path         = '.'
block container

  +keyvisual('Index')

  // ./ Section Under
  section.section-parts
    .wrapper
      .section-header
        +heading_primary('Lorem ipsum dolor sit amet.', 'h2')
      .section-content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, non quas neque distinctio qui similique voluptas architecto? Alias fugiat nemo enim esse omnis, quia magnam, atque ratione voluptas impedit iusto.

  // ./ Section Under
  section.section-parts
    .wrapper
      .section-header
        +heading_primary('Lorem ipsum dolor sit amet.', 'h2')
      .section-content
        .table-wrapper
          table.table
            thead
              tr
                th Lorem ipsum dolor sit amet.
                th Lorem ipsum dolor sit amet.
                th Lorem ipsum dolor sit amet.
            tbody
              tr
                td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nesciunt iusto saepe veritatis sint ex voluptatibus necessitatibus error dignissimos, doloremque veniam aut, architecto suscipit explicabo ratione odit quaerat? Animi, cupiditate?
                td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nesciunt iusto saepe veritatis sint ex voluptatibus necessitatibus error dignissimos, doloremque veniam aut, architecto suscipit explicabo ratione odit quaerat? Animi, cupiditate?
                td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nesciunt iusto saepe veritatis sint ex voluptatibus necessitatibus error dignissimos, doloremque veniam aut, architecto suscipit explicabo ratione odit quaerat? Animi, cupiditate?
              tr
                td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nesciunt iusto saepe veritatis sint ex voluptatibus necessitatibus error dignissimos, doloremque veniam aut, architecto suscipit explicabo ratione odit quaerat? Animi, cupiditate?
                td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nesciunt iusto saepe veritatis sint ex voluptatibus necessitatibus error dignissimos, doloremque veniam aut, architecto suscipit explicabo ratione odit quaerat? Animi, cupiditate?
                td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nesciunt iusto saepe veritatis sint ex voluptatibus necessitatibus error dignissimos, doloremque veniam aut, architecto suscipit explicabo ratione odit quaerat? Animi, cupiditate?

