footer.footer-container
  .footer-top
    .container
      .text-center
        p.logo.logo-footer
          a.link(href=path+'/') LOGO FOOTER
        p.footer-desc
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui sequi ut assumenda eum quaerat veniam explicabo facilis repellat deserunt officiis, beatae, eos tempore commodi illum doloremque fuga nisi porro quasi.
        address.footer-address
          | Address: Lorem ipsum dolor sit amet.
  .footer-bottom
    .container
      p.copyright &copy; Lorem ipsum dolor sit amet.
  p.footer-totop.js-backtotop
    a.trans(href="#") ToTop
